/* Dashboard.css */

.dashboard-wrapper {
    background-color: #0A0A0A;
    color: #FFFFFF;
    min-height: 100vh;
    overflow-x: hidden;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.skew-panel {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

.slash-card {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.glitch-border {
    box-shadow: -5px 0 0 #FF003C, 5px 0 0 #00eefc;
}